*{
    margin: 0;
    padding: 0;
}

.desconto{
    height: 23px;
    background-color: #1CD1B0;

} 

.nome-da-loja{
    height: 80px;
    background-color: #00669F;
}

.formulario{
    align-items: center;
}

footer{
background:#00669F;
width: 100%;
height: 40px;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
}